<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="/tests/bootstrap.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit_TextUI_ResultPrinter"
       >
  <!-- ... -->
  <testsuites>
     <testsuite name="My Test Suite">
       <directory>tests</directory>
     </testsuite>
   </testsuites>
</phpunit>